button.ui.button {
	background: red;
	color: white;
}

#movie-dropdown , #cinema-dropdown{
    padding: 20px;
}

.card {
    padding: 5px !important;
}



.selected {
    background: black !important;
    color: white;
}