<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!-- Movie&Cinema dropdown -->
<div class="ui grid centered" th:fragment="check_showtime" style="padding-bottom:20px;">
    <div class="ui container">
        <div class="ui modal movie">
            <i class="close icon"></i>
            <div class="header">
                Select Movie
            </div>
            <div class="ui container">
                <div class="ui six column grid" id="movie-dropdown">

                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui modal cinema" style="padding:25px;">
            <i class="close icon"></i>
            <div class="header">
                Select Cinema
            </div>
            <div class="ui container">

                <div class="ui tabular menu">
                    <div id="major" class="item active" data-tab="tab-name">Major</div>
                    <div id="sf" class="item" data-tab="tab-name2">SF</div>
                </div>
                <div class="ui tab active" data-tab="tab-name">
                    <!-- Tab Content !-->
                    <div id="major-bkk">
                        <h4 class="ui dividing header">Bangkok</h4>

                    </div>
                    <div id="major-cen">
                        <h4 class="ui dividing header">Center</h4>

                    </div>
                    <div id="major-eas">
                        <h4 class="ui dividing header">East</h4>

                    </div>
                    <div id="major-nor">
                        <h4 class="ui dividing header">North</h4>

                    </div>
                    <div id="major-esn">
                        <h4 class="ui dividing header">NorthEast</h4>

                    </div>
                    <div id="major-sou">

                    </div>
                    <div id="major-wes">
                        <h4 class="ui dividing header">West</h4>

                    </div>
                </div>
                <div class="ui tab" data-tab="tab-name2">
                    <!-- Tab Content !-->
                    <div id="sf-bkk">
                        <h4 class="ui dividing header">Bangkok</h4>

                    </div>
                    <div id="sf-cen">
                        <h4 class="ui dividing header">Center</h4>

                    </div>
                    <div id="sf-eas">
                        <h4 class="ui dividing header">East</h4>

                    </div>
                    <div id="sf-nor">
                        <h4 class="ui dividing header">North</h4>

                    </div>
                    <div id="sf-esn">
                        <h4 class="ui dividing header">NorthEast</h4>

                    </div>
                    <div id="sf-sou">

                    </div>
                    <div id="sf-wes">
                        <h4 class="ui dividing header">West</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dropdown -->
    <div class="ui container">
        <button id="select_movie_button" class="ui button" onclick="showMovieToSelect();">Select Movie</button>
        <button id="select_cinema_button" class="ui button" onclick="showCinemaToSelect();">Select Cinemas</button>
        <form action="#" th:action="@{/show}" th:object="${check}" method="post" style="display:inline-block;">
            <input type="hidden" id="selected_movie" th:field="*{selected_movie}"/>
            <input type="hidden" id="selected_cinema" th:field="*{selected_cinema}"/>
            <button type="submit" id="check_showtime_button" onclick="go_to_showtime()" class="ui button">Check Showtimes</button>
        </form>
    </div>
    <script type="text/javascript">
                    var movie_test_list = [];
                    var cinema_test_list = [];
                    function test_select_movie(id){
                        var movie_test = document.getElementById('mo-'+id);
                        if(movie_test_list.includes(id)){
                        var position = movie_test_list.indexOf(id);
                        movie_test_list.splice(position, 1);
                        movie_test.className = 'ui segment card';
                    } else {
                        movie_test_list.push(id);
                        movie_test.className += ' selected';
                    }
                    console.log(movie_test_list);
                    }
                    function test_select_cinema(id){
                        var cinema_test = document.getElementById('ci-'+id);
                        if(cinema_test_list.includes(id)){
                        var position = cinema_test_list.indexOf(id);
                        cinema_test_list.splice(position, 1);
                        cinema_test.className = 'ui segment card';
                    } else {
                        cinema_test_list.push(id);
                        cinema_test.className += ' selected';
                    }
                    console.log(cinema_test_list);
                    }
                    function go_to_showtime(){
                    document.getElementById('selected_movie').value = movie_test_list;
                    document.getElementById('selected_cinema').value = cinema_test_list;
                    }
                    function showMovieToSelect(){
                       $('.ui.modal.movie').modal('show');
                    }
                    function showCinemaToSelect(){
                        $('.ui.modal.cinema').modal('show');
                    }
                    $('.tabular.menu .item').tab();
</script>
</div>


</body>
</html>