<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/user.js"></script>
    <script src="js/logged.js"></script>
</head>
<body>
<!-- NavBar-->
<div th:replace="navbar :: navbar"></div>

<br/><br/><br/><br/><br/>

<div class="ui grid centered">
    <div class="ui card grid eight wide column">
        <form class="ui form">
            <h2 class="ui dividing header centered" style="padding: 10px;">Edit Profile</h2>
            <div class="two fields" style="padding-top: 10px;">
                <div class="required field">
                    <label>Username</label>
                    <input type="text" name="register[username]" placeholder="Username" disabled="true"/>
                </div>
                <div class="inline fields" style="margin-top: 30px; margin-left: 20px;">
                    <label>Gender</label>
                    <div class=" field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="gender" checked="" tabindex="0" class="hidden"  disabled="true"/>
                            <label>Male</label>
                        </div>
                    </div>
                    <div class=" field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="gender" tabindex="0" class="hidden"  disabled="true"/>
                            <label>Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>First Name</label>
                    <input type="text" name="register[first-name]" placeholder="First Name"/>
                </div>
                <div class="required field">
                    <label>Last Name</label>
                    <input type="text" name="register[last-name]" placeholder="Last Name"/>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Password</label>
                    <input type="password" name="register[password]" placeholder="password"/>
                </div>
                <div class="required field">
                    <label>Confirm-Password</label>
                    <input type="password" name="register[confirm-password]" placeholder="Confirm Password"/>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>E-mail</label>
                    <input type="email" name="register[email]" placeholder="E-mail"/>
                </div>
                <div class="required field">
                    <label>Birth Date</label>
                    <input type="date" name="dateExpire" placeholder="dd/mm/yyyy"  disabled="true"/>
                </div>
            </div>
            <div class="ui button centered grid red" style="margin: 20px; padding: 15px; margin-left:  180px; margin-right: 180px;" tabindex="0" type="submit">Update</div>
        </form>
    </div>
</div>

<script>
            $('.ui.radio.checkbox')
            .checkbox()
            ;
        </script>
</body>
</html>