<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/custom.css"/>-->

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"/>

    <script src="js/movieAjax.js"></script>
    <script src="js/cinemaAjax.js"></script>
    <script src="js/search.js"></script>
    <script src="js/logged.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/custom.css"/>-->
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <!-- fotorama.css & fotorama.js. -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <!-- 2. Add images to <div class="fotorama"></div>. -->

    <title> ShowtimeTH </title>
</head>
<body>
<!-- NavBar-->
<div class="ui centered grid">
    <div th:replace="navbar :: navbar"></div>
</div>
<!--Header pic-->
<div class="ui centered grid" style="padding-bottom: 20px; ">
    <div class="fotorama" data-autoplay="true" data-loop="true">
        <img src="http://www.majorcineplex.com/uploads/slidebanner/440/slidebanner_bg_440.jpg"/>
        <img src="http://www.majorcineplex.com/uploads/slidebanner/437/slidebanner_bg_437.jpg"/>
        <img src="https://tpc.googlesyndication.com/simgad/8319089228868361443"/>
        <img src="https://tpc.googlesyndication.com/simgad/1000207776850273758"/>
    </div>
</div>
<!--Check Showtime-->
<div th:replace="check_showtime :: check_showtime"></div>


<!-- Movie -->
<div class="ui centered grid">
    <div id="movie-container" class="ui four link cards centered">

    </div>
</div>

<div class="ui grid centered" style="padding: 40px;">
    <div class="ui block header  inverted" style="padding-left: 500px; padding-right: 500px;">
        <h3>COMING SOON</h3>
    </div>
</div>
<div class="ui centered grid">
    <div id="coming-movie-container" class="ui four link cards centered" style="padding-bottom: 30px;">

    </div>
</div>

<!-- Footer-->
<div class="ui centered grid">
    <div th:replace="footer :: footer"></div>
</div>

<script th:inline="javascript">
    $(document).ready(function() {


    $.ajax({

        url: "http://localhost:9001/movies"

    }).then(function(data, status, jqxhr) {

        $.each(data, function(i){
            var movie_test_list = [];
            var cinema_test_list = [];
             $('#movie-container').append('<div id="' + data[i].id +'" class="ui movie-content column"></div>');

            $('#'+data[i].id).append(`          <a id="moviedes${data[i].id}" href="/movie_desc?id=${data[i].id}">
                                                <div class="ui card">
                                                        <div class="ui image mono">
                                                            <img src="${ data[i].poster }"/>
                                                        </div>
                                                        <div class="ui content">
                                                            <div class="ui header name_en">${ data[i].name_en }</div>
                                                            <div class="ui meta name_th"><a>${ data[i].name_th}</a></div>
                                                            <div class="ui description release_date"><span>${ data[i].release_date}</span></div>
                                                        </div>

                                                            <form action="#" th:action="@{/show}" th:object="${check}" method="post" style="display:inline-block;">
                                                            	<input type="hidden" id="movie${data[i].id}" th:field="*{selected_movie}"/>
                                                            	<input type="hidden" id="selected_cinema" th:field="*{selected_cinema}"/>
                                                                <button type="submit" id="movieshow${data[i].id}" class="ui red bottom attached right labeled icon button" style="width:100%;"><i class="arrow right icon"></i>Check Showtimes</button>                          	
                                                            </form>
                                                </div></a>`);
            movie_test_list.push(data[i].id);
            document.getElementById("movie"+data[i].id).value = movie_test_list;
            document.getElementById('selected_cinema').value = cinema_test_list;
            console.log(document.getElementById("movie"+data[i].id).value);
            console.log(document.getElementById('selected_cinema').value);
        });


        $.ajax({

        url: "http://localhost:9001/coming"

    }).then(function(data, status, jqxhr) {

        $.each(data, function(i){
            var movie_test_list = [];
            var cinema_test_list = [];
             $('#coming-movie-container').append('<div id="' + data[i].id +'" class="ui movie-content column"></div>');

            $('#'+data[i].id).append(`          <a id="moviedes${data[i].id}" href="/movie_desc?id=${data[i].id}">
                                                <div class="ui card">
                                                        <div class="ui image mono">
                                                            <img src="${ data[i].poster }"/>
                                                        </div>
                                                        <div class="ui content">
                                                            <div class="ui header name_en">${ data[i].name_en }</div>
                                                            <div class="ui meta name_th"><a>${ data[i].name_th}</a></div>
                                                            <div class="ui description release_date"><span>${ data[i].release_date}</span></div>
                                                        </div>

                                                            <form action="#" th:action="@{/show}" th:object="${check}" method="post" style="display:inline-block;">
                                                            	<input type="hidden" id="movie${data[i].id}" th:field="*{selected_movie}"/>
                                                            	<input type="hidden" id="selected_cinema" th:field="*{selected_cinema}"/>
                                                            </form>
                                                </div></a>`);
            movie_test_list.push(data[i].id);
            document.getElementById("movie"+data[i].id).value = movie_test_list;
            document.getElementById('selected_cinema').value = cinema_test_list;
            console.log(document.getElementById("movie"+data[i].id).value);
            console.log(document.getElementById('selected_cinema').value);
        });
        });

    });
});
</script>
<style>
    .ui.image.mono img, .ui.image svg {
    display: block;
    width: 100%;
    height: 365px;
    border-radius: inherit;
}
.ui.four.cards>.card {
    width: calc(25% - 1.5em);
    margin-left: .75em;
    margin-right: .75em;
}
.ui.four.cards {
    margin-left: -.75em;
    margin-right: -.75em;
}
.ui.card {
    margin: 1em;
}

</style>
</body>
</html>
