<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/custom.css"/>-->

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"/>

    <script src="js/indexAjax.js"></script>
    <script src="js/movieAjax.js"></script>
    <script src="js/cinemaAjax.js"></script>
    <script src="js/logged.js"></script>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <title> ShowtimeTH </title>
</head>
<body>
<!-- NavBar-->
<div th:replace="navbar :: navbar"></div>
<!--Header pic-->
<div class="ui centered grid" style="padding-bottom: 20px; ">
    <img src="test1.jpeg"/></div>
<!--Check Showtime-->
<div th:replace="check_showtime :: check_showtime"></div>

<!--<p class="cinema_name"></p>-->

<!-- Movie -->
<div class="ui grid centered">
    <div class="ui card twelve wide column centered">
        <div id="movie-container" class="ui three column grid">

        </div>
    </div>
</div>

</body>
</html>