<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="js/user.js"></script>
</head>
<body background="bg.jpg">
<div class="ui secondary menu container centered grid" style="padding-top: 10px;">
    <a class="item" href="index.html">
        Home
    </a>
    <div class="centered menu">
        <div class="item" style="margin-right: 100px; margin-left: 100px;">
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search  Movie..."/>
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <a class="ui item" href="/login">
            Login
        </a>
        <a class="ui item" href="/register">
            Register
        </a>
    </div>
</div>

<div class="ui grid centered">
    <div class="ui card grid five wide column">
        <div class="sixteen wide column">
            <form id="login-form" class="ui form">
                <h2 class="ui dividing header centered">Login</h2>
                <div class="field">
                    <label class="left floated">Username</label>
                    <input id="input-username" type="text" name="username" placeholder="Username"/>
                </div>
                <div class="field">
                    <label class="left floated">Password</label>
                    <input id="input-password" type="password" name="password" placeholder="Password"/>
                </div>
                <label class="right floated">Forgot password?</label><br/><br/>
                <div id="login-button" class="ui button centered grid red" style="margin: 5px; padding: 15px; margin-left:  100px; margin-right: 100px;" tabindex="0">
                    Login
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.menu .browse')
        .popup({
            inline     : true,
            hoverable  : true,
            position   : 'bottom left',
            delay: {
                show: 300,
                hide: 800
            }
        })
    ;
</script>

</body>
</html>