<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8"/>

	<script
			src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"/>

	<script src="../static/js/movieAjax.js" th:src="@{js/movieAjax.js}"></script>
	<script src="../static/js/cinemaAjax.js" th:src="@{js/cinemaAjax.js}"></script>
	<script src="../static/js/search.js" th:src="@{js/search.js}"></script>
	<script src="../static/js/logged.js" th:src="@{js/logged.js}"></script>
	<script src="../static/js/MovieDetail.js" th:src="@{js/MovieDetail.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{css/custom.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css" th:href="@{semantic/dist/semantic.min.css}"/>

	<script src="../static/semantic/dist/semantic.min.js" th:src="@{semantic/dist/semantic.min.js}"></script>

	<!-- fotorama.css & fotorama.js. -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->


	<title>ShowtimeTH</title>
</head>

<body>
<!-- NavBar-->
<div th:replace="navbar :: navbar"></div>

<img id="cover" style=" width: 100%;" />


<!--Movie Description-->
<div class="ui container">
	<div class="ui grid centered">
		<div class="row">
			<div class="five wide column">
				<img id="poster" />
			</div>
			<div class="eleven wide column" style="padding-left: 30px;">
				<div class="ui grid">
					<div class="twelve wide column">
						<h1 id="name_en"></h1>
						<h2 id="name_th"></h2>
					</div>
					<div class="four wide column" >
						<br/><br/><br/>
						<div onclick="like_movie();" class="ui button" tabindex="0">
							<i class="heart icon"></i> Like
						</div>
					</div>
				</div>
				<hr/>
				<h3>เรื่องย่อ</h3>
				<span id="description"></span>
				<div class="ui grid" style="padding-top: 10%;">
					<div class="twelve wide column">
						<h4 id="release_date" style="margin: 0;"></h4><br/>
						<h4 id="duration" style="margin: 0;"></h4>
					</div>
					<div class="four wide column right">
						<form action="#" th:action="@{/show}" th:object="${check}" method="post" style="display:inline-block;">
							<input type="hidden" id="selected_movie" th:field="*{selected_movie}"/>
							<input type="hidden" id="selected_cinema" th:field="*{selected_cinema}"/>
							<button id="check_showtime_button" type="submit" onclick="go_to_showtime()" class="ui red button">Check Showtimes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui top attached tabular menu">
		<div class="active item">
			<div class="ui header">
				<i class="video play icon"></i>
				<div class="content">Trailer</div>
			</div>
		</div>
	</div>
	<div class="ui bottom attached active tab segment">
		<div class="ui top attached tabular menu">
			<div class="ui bottom attached active tab segment">
				<div class="ui centered grid" style="padding: 10px">
					<iframe width="639" height="360" id="trailer" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- movie id -->
<div id="movie_id" hidden="true" th:text="${id}"></div>

<!-- Footer-->
<div class="ui centered grid">
	<div th:replace="footer :: footer"></div>
</div>
<script type="text/javascript">
                    var movie_test_list = [];
                    var cinema_test_list = [];

                    function go_to_showtime(){
                    movie_test_list.push(document.getElementById('movie_id').innerHTML);
                    document.getElementById('selected_movie').value = movie_test_list;
                    document.getElementById('selected_cinema').value = cinema_test_list;

                    console.log(document.getElementById('selected_movie').value);
                    console.log(document.getElementById('selected_cinema').value);
                    }

                    function like_movie(){
                    movie_test_list.push(document.getElementById('movie_id').innerHTML);
                    document.getElementById('selected_movie').value = movie_test_list;
					$.ajax({ "url": "http://localhost:9004/like?movie_id=" + movie_test_list,
							"type": "POST"})
					.then(function (data, status, jqxhr) {});
                    }

                    function unlike_movie(){
                    movie_test_list.push(document.getElementById('movie_id').innerHTML);
                    document.getElementById('selected_movie').value = movie_test_list;
					$.ajax({ "url": "http://localhost:9004/unlike?movie_id=" + movie_test_list,
							"type": "DELETE"})
					.then(function (data, status, jqxhr) {});
                    }


	</script>

</body>

</html>
