<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="js/logged.js"></script>
</head>
<body>
<div class="ui secondary menu container centered grid" th:fragment="navbar" style="padding-top: 10px;">
    <a class="item" href="/">
        Home
    </a>
    <div class="centered menu">
        <div class="item" style="margin-right: 100px; margin-left: 100px;">
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search  Movie..."/>
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div id="to-login-contianer" class="ui item">
            <a class="ui item" href="/login">
                Login
            </a>
        </div>
        <div id="to-regis-container" class="ui item">
            <a class="ui item" href="/register">
                Register
            </a>
        </div>
    </div>
</div>
</body>
</html>