<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="ui secondary menu centered grid" th:fragment="navbar">
    <a class="item" href="/">
         Home
    </a>
    <a class="item">
        Cinema
    </a>
    <a class="item">
        About
    </a>
    <a class="item">
        <div class="ui small image">
            <img src="https://www.img.in.th/images/1e463d7993d287f625e29af8bdcb4d62.png" border="0" />
        </div>
    </a>
    <div class="item">
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search  Movie..."/>
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
    <a class="item" href="/login">
        Login
    </a>
</div>
</body>
</html>