<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/custom.css"/>-->

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{js/showtime.js}"></script>
    <script type="text/javascript" th:src="@{js/movieAjax.js}"></script>
    <script type="text/javascript" th:src="@{js/cinemaAjax.js}"></script>
    <script type="text/javascript" th:src="@{js/search.js}"></script>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/custom.css"/>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <title> ShowtimeTH </title>
</head>
<body>
    <!--Movie&Cinema list-->
    <div hidden="true" id="movie_id" th:text="${check.selected_movie}"></div>
    <div hidden="true" id="cinema_id" th:text="${check.selected_cinema}"></div>

    <!-- NavBar-->
    <div th:replace="navbar :: navbar"></div>
    <!--Header pic-->
    <div class="ui centered grid" style="padding-bottom: 20px; ">
        <img src="test1.jpeg"/></div>

    <script type="text/javascript">
                    var movie_test_list = [];
                    var cinema_test_list = [];
                    function test_select_movie(id){
                        var movie_test = document.getElementById('mo-'+id);
                        if(movie_test_list.includes(id)){
                        var position = movie_test_list.indexOf(id);
                        movie_test_list.splice(position, 1);
                        movie_test.className = 'ui segment card';
                    } else {
                        movie_test_list.push(id);
                        movie_test.className += ' selected';
                    }
                    console.log(movie_test_list);
                    }
                    function test_select_cinema(id){
                        var cinema_test = document.getElementById('ci-'+id);
                        if(cinema_test_list.includes(id)){
                        var position = cinema_test_list.indexOf(id);
                        cinema_test_list.splice(position, 1);
                        cinema_test.className = 'ui segment card';
                    } else {
                        cinema_test_list.push(id);
                        cinema_test.className += ' selected';
                    }
                    console.log(cinema_test_list);
                    }
                    function go_to_showtime(){
                    document.getElementById('selected_movie').value = movie_test_list;
                    document.getElementById('selected_cinema').value = cinema_test_list;
                    console.log(document.getElementById('selected_movie').value);
                    console.log(document.getElementById('selected_cinema').value);
                    console.log('test');
                }



</script>
    <!--<p class="cinema_name"></p>-->
    <!--Check Showtime-->
    <div th:replace="check_showtime :: check_showtime"></div>

    <!--Showtime-->
    <div class="ui container">
        <div class="item">
            <div class="ui tabular menu">
                <div class="item active" data-tab="tab-name">Major</div>
                <div class="item" data-tab="tab-name2">SF</div>
            </div>
            <div class="ui tab active" data-tab="tab-name">
                <!-- Tab Content !-->
                <div id="major-showtime" class="ui grid centered">

                </div>
            </div>
            <div class="ui tab" data-tab="tab-name2">
                <!-- Tab Content !-->
                <div id="sf-showtime" class="ui grid centered">

                </div>
            </div>
        </div>

            <!--<div class="item">-->
                <!--<div class="head">-->
                    <!--<h2 style="margin: 30px; padding-top: 80px;">theater 3</h2>-->
                <!--</div>-->
                <!--<div class="image" style="width: 150px">-->
                    <!--<img src="poster5.jpg"/>-->
                <!--</div>-->
                <!--<div class="content">-->
                    <!--<a class="header" href="movie description.html">Kong Skull Island</a>-->
                    <!--<div class="meta">-->
                        <!--<span class="cinema">คอง มหาภัยเกาะกะโหลก</span>-->
                        <!--<span class="cinema">Paragon Cineplex</span>-->
                    <!--</div>-->
                    <!--<div class="description">-->
                        <!--<button class="ui red basic button" disabled="true">11.30</button>-->
                        <!--<button class="ui red basic button" disabled="true">13.20</button>-->
                        <!--<button class="ui red basic button">15.50</button>-->
                        <!--<button class="ui red basic button">18.15</button>-->
                    <!--</div>-->
                    <!--<div class="extra">-->
                        <!--<div class="ui label">118 นาที</div>-->
                        <!--<div class="ui label">Digital 2D</div>-->
                        <!--<div class="ui label">ทั่วไป</div>-->
                        <!--<div class="ui label"><i class="globe icon"></i>Soundtrack</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<div class="head">-->
                    <!--<h2 style="margin: 30px; padding-top: 80px;">theater 4</h2>-->
                <!--</div>-->
                <!--<div class="image" style="width: 150px">-->
                    <!--<img src="poster1.jpg"/>-->
                <!--</div>-->
                <!--<div class="content">-->
                    <!--<a class="header" href="movie description.html">Beauty and the beast</a>-->
                    <!--<div class="meta">-->
                        <!--<span class="cinema">โฉมงามกับเจ้าชายอสูร</span>-->
                        <!--<span class="cinema">Paragon Cineplex</span>-->
                    <!--</div>-->
                    <!--<div class="description">-->
                        <!--<button class="ui red basic button" disabled="true">11.10</button>-->
                        <!--<button class="ui red basic button" disabled="true">13.30</button>-->
                        <!--<button class="ui red basic button">17.30</button>-->
                        <!--<button class="ui red basic button">21.20</button>-->
                    <!--</div>-->
                    <!--<div class="extra">-->
                        <!--<div class="ui label">120 นาที</div>-->
                        <!--<div class="ui label">IMAX</div>-->
                        <!--<div class="ui label">ทั่วไป</div>-->
                        <!--<div class="ui label"><i class="globe icon"></i> Soundtrack</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    </div>


    <script>
                    function showMovieToSelect(){
                       $('.ui.modal.movie').modal('show');
                    }
                    function showCinemaToSelect(){
                        $('.ui.modal.cinema').modal('show');
                    }
                    $('.tabular.menu .item').tab();

</script>
</body>
</html>